*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FADF84;
    text-align: center;
}

.games{
    border: 1px solid #1a1a19;
    border-bottom: 2px solid #1a1a19;
    border-left: 2px solid #1a1a19;
    border-right: 2px solid #1a1a19;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    margin: 4rem;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #ee4266;
    background-color: #B22CE3;
}

#reset-btn{
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    height: 7vmin;
    width: 60vmin;;
}


#new-btn{
    margin-top: 6rem;
    height: 7vmin;
    width: 60vmin;
    padding: 0rem;
    font-size: 2rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}


h1{
    margin-top: 2rem;
    color:#1a1a19;
    font-size: 8vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg{
    color: red;
    font-size: 8vmin;
}


.msg-container{
    height: 30vmin;
  
}

.hide{
    display: none;
}

#sam{
    padding: 1rem;
    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}